<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <title> tes </title>
</head>
<body>
        <!-- NAV START -->
        <nav class="navbar sticky-top bg-white">
            <div class="container">
                <a class="logo" href="#">
                    REKAP<span>IN</span>
                </a>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item mx-4">
                        <a class="nav-link link-dark" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link link-dark" href="#">Kas & Bank</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link link-dark" href="#">Laporan</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link link-dark" href="#">Daftar Akun</a>
                    </li>
                </ul>
            </div>
        </nav>        
        <!-- NAV END -->

        <!-- CONTENT START -->
        <main class="mb-footer">
            <div class="container">
                <h3 class="title py-4 d-flex align-items-center">TITLE</h3>
            </div>
        </main>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <footer class="border-top fixed-bottom bg-white">
            <div class="container text-center text-secondary fw-light my-3">
                &copy; 2021 REKAPIN. DAK Kelompok 1.
            </div>
        </footer>
        <!-- FOOTER END -->
    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e7b4fcd040.js" crossorigin="anonymous"></script>
    <script src="../Assets/js/script.js"></script>
</body>
</html>